/* Mobile devices */

body {
  color: #222;
}

#navbar {
  top: 0;
  display: flex;
  flex-direction: column;
}

#navbar ul {
  padding-inline-start: 0px;
  margin: 0 auto;
  margin-block-start: 0;
  margin-block-end: 0;
  border-bottom: 1px solid #E8E8E8;
}

#navbar h1 {
  text-align: center;
  margin: 1rem;
}

#navbar li {
  list-style: none;
  border-top: 1px solid #E8E8E8;
}

#navbar a {
  padding: .5rem 1.5rem;
  display: block;
  cursor: pointer;
}

#main-doc {
  margin-left: 0;
  padding: 1.5rem;
}

.upper {
  text-transform: uppercase;
}

article {
  margin: 1rem;
}

h2 {
  margin: 0;
}

pre {
  font-size: 0.75rem;
  background: #F5F5F5;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.hljs {
  background: #F5F5F5;
}

hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid #E8E8E8;
  border-radius: 20px;
}

/* Devices larger than 850px wide, e.g. laptops. */
